{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href='{% static '/css/login.css' %}?{% now "U" %}'>
    </head>

    <body>
        <div class="user-form-main">
            <div class="user-form">
                <h2>Login Page</h2>
                {% if form.error %}
                    <p> Hatalı Giriş!</p>
                {% endif %}

                {% if next %}
                    <p>Bu sayfaya erişimin yok!</p>
                {% endif %}
                
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    
                    <p> Username {{form.username}}</p>
                    <p> Password {{form.password}}</p>

                    <input type="submit" value="Login">
                    <input type="hidden" name="next" value="{{next}}">

                    <div class="login-link">
                        <a href="{% url 'register' %}"> Click For New Accounts </a>
                    </div>
                </form>
            </div>
        <div>
        
        

    </body>

</html>